<h2>Liste des connaissances enregistrées</h2>
<div class="table-container">
    <table class="knowledge-table">
        
    <thead>
        <tr>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Catégorie</th>
            <th>Tags</th>
            <th>Date de création</th>
            <th>Date de modification</th>
        </tr>
    </thead>
    <tbody>
        @for (knowledge of knowledge(); track knowledge._id) {
        <tr>
            <td>{{ knowledge.title }}</td>
            <td>{{ knowledge.content }}</td>
            <td>{{ knowledge.category }}</td>
            <td class="tags-cell">
                @for (tag of knowledge.tags; track tag) {
                    <span class="tag">{{ tag }}</span>
                    }
            </td>
            <td>{{ knowledge.createAt }}</td>
            <td>{{ knowledge.modifiedAt }}</td>
        }
    </tbody>
    
    </table>
</div>