MONGODB_USERNAME="nomUtilisateur"
MONGODB_PASSWORD="mdp"
MONGODB_URI="mongodb+srv://nomUtilisateur:mdp@brainbox.s3ypjdb.mongodb.net/"
MONGODB_DB="nomDb"
MONGODB_COLLECTION="nomCollection"

OLLAMA_URL="http://ollama:11434/api/generate"
OLLAMA_MODEL="nomModele"